@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #f9f9f9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #a12c28;
    --semi_light: #f4f4f4;
    --top_navbar_height: 6vh;

}

body {
    background: var(--grey);
}

.modal-content {
    box-shadow: 0 4px 15px 6px rgba(97, 84, 84, 0.315);
    border: none;
    color: var(--red)
}

.modal-backdrop {
    background-color: rgba(28, 8, 8, 0.114);
}

.fade {
    opacity: 0;
    transform: translateY(1%) scale(0.8);
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card {
    background-color: var(--semi_light);
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background-color: var(--light);
    box-shadow: 0 14px 18px rgba(14, 14, 14, 0.515);
    transform: scale(1.02);
    z-index: 1;
}


.iconColor {
    color: var(--red);
}

.cursor,
a {
    cursor: pointer;
}

input[type="checkbox"][priority="high"] {
    border: 2px solid var(--red);
    background-color: rgba(201, 88, 88, 0.282);
}

input[type="checkbox"][priority="high"]:checked {
    background-color: var(--red);
}


input[type="checkbox"][priority="medium"] {
    border: 2px solid rgb(222, 149, 3);
    background-color: rgba(191, 158, 73, 0.405);

}

input[type="checkbox"][priority="medium"]:checked {
    background-color: rgb(222, 149, 3);
    ;
}

input[type="checkbox"][priority="low"] {
    border: 2px solid var(--blue);
    background-color: rgba(96, 162, 232, 0.348);
}

input[type="checkbox"][priority="low"]:checked {
    background-color: var(--blue);
}

.dropdown-menu {
    background: var(--light);

}

.dropdown-menu a:hover {
    background: var(--semi_light);
}

.badge {
    font-size: 10px;
}

.badge.date {
    background-color: rgba(193, 138, 138, 0.282);
    color: var(--red);
    border: 2px solid brown;
}

.badge.project {
    background-color: rgba(193, 169, 138, 0.282);
    color: #a17528;
    border: 2px solid rgb(165, 128, 42);
}

.badge.label {
    background-color: rgba(146, 193, 138, 0.282);
    color: #2a8520;
    border: 2px solid rgb(55, 120, 29);
}

.fontbrown {
    font-style: var(--red);
}

.indoxCardsDiv {
    height: 75vh;
}

.indoxCardsDiv:hover {
    overflow: auto;
}
.teamTaskView{
    height:82vh;
}
.teamTaskView:hover{
    overflow: auto;
}
.calanderDiv {
    height: 85vh;
    overflow-x: auto;
}

.calanderCardsDiv {
    height: 80vh;
    overflow: hidden;
}

.calanderCardsDiv:hover {
    overflow: auto;
}

.teamModalOverflow{
  max-height: 80vh; overflow-y: auto;
}

.CardsDiv {
    height: 78vh;
    overflow: hidden;
    align-content: start;
}

.CardsDiv:hover {
    overflow: auto
}

.inboxSearch {
    width: 30vw;
}

.inboxTitle {
    width: 25vw;
}

.teamcontainer {
    width: 40vw;
    height: 70vh;
    align-content: start;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.teamcontainer:hover
{
    overflow-y: auto;
}

.teamCard {
    background-color: var(--semi_light);
    border-radius: 8px;
    border: none;
    width: 35vh;
    flex-wrap: wrap;
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.teamCard:hover {
    background-color: var(--light);
    box-shadow: 0 14px 18px rgba(14, 14, 14, 0.515);
    transform: scale(1.02);
    z-index: 1;
}

.sticky {
    position: sticky;
    top: 0px;
    height: 15vh;
}

.stickycalender {
    position: sticky;
    top: 0px;
    height: 10vh;

}
.custom-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #650101ec; /* Success color */
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.2);
    display: flex;
    align-items: center;
    z-index: 1060;
    border: 0
}

.alert-text {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
}

.closeAlert {

    font-size: 15px;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: var(--light);
    z-index: 1040;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: auto;
    scrollbar-width: none;
}

#sidebar .brand {
    font-size: 18px;
    font-weight: 900;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--red);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;

    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 10px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: auto;
}

#sidebar .side-menu.top li.active a {
    color: var(--red);
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--red);
}


/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    transition: .3s ease;
    height: 100vh;
}

#content nav {
    height: var(--top_navbar_height);
    width: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    align-content: center;
    grid-gap: 24px;
    font-family: var(--lato);
    /* position: sticky;
    top: 0;
    z-index: 1030; */
}

ul.side-menu.top {
    padding-left: 1rem;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: var(--top_navbar_height);
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}
.notallowed{
    cursor: not-allowed;
}

/* MAIN */
#content main {
    width: 100%;
    padding: 12px;
    font-family: var(--poppins);
    height: calc(100vh - var(--top_navbar_height));
    overflow-y: hidden;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #aaaaaa72;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .wrap {
        flex-wrap: wrap;
    }

    .teamcontainer
    {
        width: 100vw;
        height: unset;
        flex-wrap: wrap;
        overflow: auto;
    }
    .teamCard {
        background-color: var(--semi_light);
        border-radius: 8px;
        border: none;
        width: unset;
        flex-wrap: unset;
        transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }

    #content {
        width: calc(100%);
        left: 0;
        height: 100vh;
        overflow: hidden;
    }

    .indoxCardsDiv {
        height: 100vh;
        width: 100vw;
    }

    .indoxCardsDiv {
        height: unset;
    }

    .sticky {
        position: unset;
        top: 0px;
        height: unset;
    }


    .inboxSearch {
        width: unset;
    }

    .inboxTitle {
        width: unset;
    }

    .calanderDiv {
        height: 80vh;

    }

    .calanderCardsDiv {
        height: 75vh;
        overflow: hidden;
    }

    .teamTaskView{
        height:unset;
    }

    #content main {
        padding: 0px;
        padding-top: 10px;
        overflow-y: auto;
    }
    #content nav::before {
        overflow: hidden;
        display: none;
    }



}
